<h1 class="h3">Login</h1>
<div class="formWrapper">
    <form action="/api/tokens" method="POST" id="sessionCreate">
      <div class="formError alert alert-danger" style="display: none"></div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="william@gmail.com" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
